finally_CSharp/WindowsFormsApplication1/Service References/HelloConverter/HelloWorld.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://com/" targetNamespace="http://com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sayHelloWorldFrom" type="tns:sayHelloWorldFrom" />
  <xs:element name="sayHelloWorldFromResponse" type="tns:sayHelloWorldFromResponse" />
  <xs:complexType name="sayHelloWorldFrom">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloWorldFromResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>